div > h4 > a :hover{
    text-decoration: underline;
}

li > a > font > span:hover{
    background-color: #ff4551;
    color : white;
    height: 30px;
    
}

li > a > span:hover{
    text-decoration: underline;
}